<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BoReLESS - Grunt, Bower, RequireJS, &amp; LESS Boilerplate</title>
	<link href="<%= stylesheetFile %>" rel="<%= stylesheetLanguage %>" type="text/css"/>
	<script data-main="<%= scriptFile %>" src="<%= scriptLoader %>"></script>
	<% for (var i = 0; i < scripts.length; i++) { %>
	<script src="<%= scripts[i] %>"></script>
	<% } %>
</head>
<body>
	<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" data-link="internal" href="/">BoReLESS Backbone Example</a>
		</div>
	</div>
	</header>
	<section id="main" class="container"></section>
	<footer class="footer">
		<div class="well">
			<p>Copyright 2013 SC5 Online</p>
		</div>
	</footer>
</body>
</html>
