<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BoReLESS - Grunt, Bower, RequireJS, &amp; LESS Boilerplate</title>
	<link href="<%= stylesheetFile %>" rel="<%= stylesheetLanguage %>" type="text/css"/>
	<script data-main="<%= scriptFile %>" src="<%= scriptLoader %>"></script>
	<% for (var i = 0; i < scripts.length; i++) { %>
	<script src="<%= scripts[i] %>"></script>
	<% } %>
</head>
<body>
	<h1>BoReLESS - Grunt, Bower, RequireJS, &amp; LESS Boilerplate</h1>
	<div id="status">
		If you see this, something in the installation got wrong.
	</div>
	<footer>
		<p>Copyright 2013 SC5 Online</p>
	</footer>
</body>
</html>
